@page "/FormularioRegistroPaciente"
@model HospiEnCasa.App.Web.Pages.FormularioRegistroPacienteModel
@{
}
<div class="container">
    <div class="title">Registro de Paciente</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre</span>
            <input type="text" placeholder="Ingrese su nombre" required>
          </div>
          <div class="input-box">
            <span class="details">Apellidos</span>
            <input type="text" placeholder="Ingrese sus apellidos" required>
          </div>
          <div class="input-box">
            <span class="details">Telefono</span>
            <input type="text" placeholder="Ingrese su telefono" required>
          </div>
          <div class="input-box">
            <span class="details">Enfermera</span>
            <input type="text" placeholder="Ingrese la enfermera encargada" required>
          </div>
          <div class="input-box">
            <span class="details">Medico</span>
            <input type="text" placeholder="Ingrese el medico encargado" required>
          </div>
          <div class="input-box">
            <span class="details">Direccion</span>
            <input type="text" placeholder="Ingrese su direccion" required>
          </div>
          <div class="input-box">
            <span class="details">Ciudad</span>
            <input type="text" placeholder="Ingrese su ciudad de residencia" required>
          </div>
          <div class="input-box">
            <span class="details">Fecha de nacimiento</span>
            <input type="text" placeholder="Ingrese su fecha de nacimiento" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Genero</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Masculino</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Femenino</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefiero no decirlo</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Registrar">
        </div>
      </form>
    </div>
  </div>