@page "/PacientesRegistrados"
@model HospiEnCasa.App.Web.Pages.PacientesRegistradosModel
@{
}
@* @section Styles { 
  <link rel="stylesheet" href="~/css/pacientes.css">
}*@
<h1 class="title">Pacientes</h1>

<div class="container">

  <div class="card">
    <img src="~/lib/Images/Paciente.png" />
    <h4>Pedro Gutierrez</h4>
    <p>Cel: 300 214 2123</p>
    <p>Masculino</p>
    <a href="#">Leer más</a>
  </div>

  <div class="card">
    <img src="~/lib/Images/Paciente.png">
    <h4>Andrea Sanchez</h4>
    <p>Cel: 305 312 8893</p>
    <p>Femenino</p>
    <a href="#">Leer más</a>
  </div>

  <div class="card">
    <img src="~/lib/Images/Paciente.png">
    <h4>Paola Garcia</h4>
    <p>Cel: 300 214 5532</p>
    <p>Femenino</p>
    <a href="#">Leer más</a>
  </div>

</div>