@page "/PacientesRegistrados"
@model HospiEnCasa.App.Web.Pages.PacientesRegistradosModel
@{
}
<h1 class="title">Pacientes</h1>

<div class="container">
@foreach(var paciente in Model.Pacientes)
{
  <div class="card">
    <img src="~/lib/Images/Paciente.png" />
    <h4>@paciente.Nombre @paciente.Apellidos</h4>
    <p>Cel: @paciente.Telefono</p>
    <p>@paciente.Genero</p>
    <a href="#">Leer más</a>
  </div>
}
</div>