@page
@model HospiEnCasa.App.Web.Pages.AddUpdateFamiliarDesignadoModel
@{
  <link href="~/css/forms.css" rel="stylesheet" type="text/css" />
}
<div class="containerForm">
  <div class="title">@ViewData["TitlePage"]</div>
  <div class="content">
    <div class="row">
      <p class="text-danger">@Model.ErrorMessage</p>
    </div>
    <form method="post">
      <div class="user-details">
        <div class="input-box">
          <span class="details" for="nombre">Nombre</span>
          <input type="hidden" id="id" asp-for="FamiliarDesignado.Id" />
          <input type="text" id="nombre" asp-for="FamiliarDesignado.Nombre" placeholder="Ingrese su nombre" />
          <span class="text-danger" asp-validation-for="FamiliarDesignado.Nombre"></span>
        </div>
        <div class="input-box">
          <span class="details" for="apellidos">Apellidos</span>
          <input type="text" id="apellidos" asp-for="FamiliarDesignado.Apellidos" placeholder="Ingrese sus apellidos">
          <span class="text-danger" asp-validation-for="FamiliarDesignado.Apellidos"></span>
        </div>
        <div class="input-box">
          <span class="details" for="telefono">Teléfono</span>
          <input type="text" id="telefono" asp-for="FamiliarDesignado.Telefono" placeholder="Ingrese su telefono">
          <span class="text-danger" asp-validation-for="FamiliarDesignado.Telefono"></span>
        </div>
        <div class="input-box">
          <span class="details" for="parentesco">Parentesco</span>
          <input type="text" id="parentesco" asp-for="FamiliarDesignado.Parentesco"
            placeholder="Ingrese su parentesco" />
          <span class="text-danger" asp-validation-for="FamiliarDesignado.Parentesco"></span>
        </div>
        <div class="input-box">
          <span class="details" for="correo">Correo</span>
          <input type="email" id="correo" asp-for="FamiliarDesignado.Correo" placeholder="Ingrese su email" />
          <span class="text-danger" asp-validation-for="FamiliarDesignado.Correo"></span>
        </div>
        <div class="input-box">
          <span class="details" for="genero">Género</span>
          <select class="details" asp-for="FamiliarDesignado.Genero">
            <option value="0">Masculino</option>
            <option value="1">Femenino</option>
            <option value="2">Otro</option>
          </select>
          <span class="text-danger" asp-validation-for="FamiliarDesignado.Genero"></span>
        </div>
      </div>
       <div class="button">
          <input type="submit" value="Enviar">
        </div>
    </form>
  </div>
</div>