@page
@model HospiEnCasa.App.Web.Pages.AddPacienteModel
@{
  <link href="~/css/forms.css" rel="stylesheet" type="text/css" />
}
<div class="containerForm">
    <div class="title">Registro de Paciente</div>
    <div class="content">
      <div class="row">
        <p class="text-danger">@Model.ErrorMessage</p>
      </div>
      <form action="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre</span>
            <input type="text" id="nombre"  placeholder="Ingrese su nombre" required>
          </div>
          <div class="input-box">
            <span class="details">Apellidos</span>
            <input type="text" id="apellidos" asp-for="Paciente.Apellidos" placeholder="Ingrese sus apellidos" required>
          </div>
          <div class="input-box">
            <span class="details">Telefono</span>
            <input type="text" id="telefono" asp-for="Paciente.Telefono" placeholder="Ingrese su telefono" required>
          </div>
          <div class="input-box">
            <span class="details">Enfermera</span>
            <input type="text" id="enfermera" asp-for="Paciente.Enfermera" placeholder="Ingrese la enfermera encargada" required>
          </div>
          <div class="input-box">
            <span class="details">Medico</span>
            <select id="medico">
              @foreach(var medico in Model.Medicos)
              {
                <option value="@medico">@medico.Nombre</option>
              }
            </select>
          </div>
          <div class="input-box">
            <span class="details">Direccion</span>
            <input type="text" id="direccion" asp-for="Paciente.Direccion" placeholder="Ingrese su direccion" required>
          </div>
          <div class="input-box">
            <span class="details">Ciudad</span>
            <input type="text" id="ciudad" asp-for="Paciente.Ciudad" placeholder="Ingrese su ciudad de residencia" required>
          </div>
          <div class="input-box">
            <span class="details">Fecha de nacimiento</span>
            <input type="text" id="fechaNacimiento" asp-for="Paciente.FechaNacimiento" placeholder="Ingrese su fecha de nacimiento" required>
          </div>
        </div>
        <div class="input-box">
          <span class="details" for="genero">Género</span>
          <select class="details" asp-for="Paciente.Genero">
            <option value="0">Masculino</option>
            <option value="1">Femenino</option>
            <option value="2">Otro</option>
          </select>
          <span clas="text-danger" asp-validation-for="Paciente.Genero"></span>
        </div>
        <div class="button">
          <input type="submit" value="Registrar">
        </div>
      </form>
    </div>
  </div>